<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.demo.mapper.user.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jason.demo.entity.user.User">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="email" property="email"/>
    </resultMap>

    <!--查询用户列表-->
    <select id="selectUserList" resultType="com.jason.demo.entity.user.User">
        select * from users where 1 = 1
        <if test="name != null and name != ''" >
            and name = #{name, jdbcType=VARCHAR}
        </if>
    </select>

    <!--分页查询列表-->
    <select id="selectUserPageVo" resultType="com.jason.demo.entity.user.User">
        SELECT * FROM users WHERE 1 = 1
        <if test="map.name != null and map.name != ''" >
            and name = #{map.name, jdbcType=VARCHAR}
        </if>
    </select>
</mapper>
